.backgrounds-light-blue {
  background-color: $light-blue;
}

.backgrounds-mid-green {
  background-color: $mid-green;
}

.backgrounds-bluish-green {
  background-color: $bluish-green;

}


.backgrounds-light-green {
  background-color: $light-green;
}