.button {
  @extend button;
  font-family: $base-font-family;
  margin: 1.25rem;
  background-color: $dark-green;
  border: 1px solid $dark-green;
  font-size: 1.25rem;
  padding: 1rem 2.5rem;
  font-weight: $font-weight-normal;
  &:hover,
  &:focus {
    background-color:$mid-green;
    color: $dark-green;
  }
}