header.navigation {
  $navigation-padding: 1em;
  $navigation-color: $white;
  $navigation-color-hover: white;
  $navigation-height: $medium-header-height;
  $navigation-nav-button-background: $action-color;
  $navigation-nav-button-border: 1px solid lighten($navigation-nav-button-background, 20%);
  $navigation-active-link-color: transparentize(white, 0.5);
  $horizontal-bar-mode: $medium-screen-min;
  $text-shadow: -2px -2px 0 $dark-orange,
  2px -2px 0 $dark-orange,
  -2px 2px 0 $dark-orange,
  2px 2px 0 $dark-orange;

  background-color: transparent;
  min-height: $navigation-height;
  width: 100%;
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  .navigation-wrapper {
    @include clearfix;
    @include outer-container;
    position: relative;
    z-index: 9999;
  }

  .logo {
    padding: 1.25rem $navigation-padding 0;
    width: 100%;
    text-align: center;
    display: block;
    @include clearfix;
    @include media($horizontal-bar-mode){
      max-height: $navigation-height;
      float: left;
      width: auto;
      padding-right: 2em;
      padding-top: 0;
    }
    .logo-text {
      font-family: $decorative-font-family;
      color: $white;
      font-size: 2.5rem;
      margin-bottom: 0;
      font-weight: 400;
      text-shadow: $text-shadow;
      @include media($horizontal-bar-mode){
        line-height: $navigation-height;
      }
    }
    img {
      max-height: $navigation-height;
      padding: 0.8em 0;
    }
  }


  // Nav menu

  nav {
    float: none;
    min-height: $navigation-height;
    z-index: 9999999;

    @include media ($horizontal-bar-mode) {
      float: right;
    }
  }

  ul.navigation-menu {
    -webkit-transform-style: preserve-3d;
    // stop webkit flicker
    clear: both;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    width: 100%;
    z-index: 9999;
    text-align: center;
    @include media ($horizontal-bar-mode) {
      display: inline;
      margin: 0;
      padding: 0;
      text-align: left;
    }
  }


  // The nav items

  ul li.nav-link {
    line-height: $navigation-height;
    overflow: hidden;
    padding-right: 0.8em;
    text-align: right;
    width: auto;
    z-index: 9999;
    display: inline-block;
    background: transparent;
    @include media ($horizontal-bar-mode) {
      line-height: $navigation-height;
      text-decoration: none;
    }

    a {
      color: $navigation-color;
      display: inline-block;
      font-weight: 400;
      text-decoration: none;

      @include media ($horizontal-bar-mode) {
        padding-right: 1em;
      }

      &:focus,
      &:hover {
        color: $navigation-color-hover;
        text-decoration: underline;
      }
    }
  }

  .active-nav-item a {
    border-bottom: 1px solid $navigation-active-link-color;
    padding-bottom: 3px;
  }
}