.hero {
  $hero-color: #fff;
  $hero-image: '../img/afeature-background.jpg';
  -webkit-box-shadow: inset 0px 5px 5px 0px rgba(50, 50, 50, 0.1);
  -moz-box-shadow:    inset 0px 5px 5px 0px rgba(50, 50, 50, 0.1);
  box-shadow:         inset 0px 5px 5px 0px rgba(50, 50, 50, 0.1);
  @include background(url($hero-image));
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: rem(250);
  padding: rem(48) 1rem rem(50);
  .hero-inner {
    @include clearfix;
    color: $hero-color;
    margin: auto;
    text-align: center;
    height: inherit;
    @include outer-container;
    .hero-img-container {
      .hero-img {
        width: 60%;
        margin: 0 auto;
        max-width: 200px;
      }
      @include media($medium-screen-min){
        @include span-columns(3);
        .hero-img {
          width: 70%;
        }
      }
    }
    .hero-copy {
      text-align: center;
      .hero-title {
        margin-bottom: 1.25rem;
        font-family: $decorative-font-family;
        font-size: 2.5rem;
        margin-top: 0;
        font-weight: $font-weight-normal;
        text-shadow:
        -2px -2px 0 $dark-orange,
        2px -2px 0 $dark-orange,
        -2px 2px 0 $dark-orange,
        2px 2px 0 $dark-orange;
        text-transform: uppercase;
        @include media($medium-screen-min){
          font-size: 3.5rem;
        }
      }
      @include media($medium-screen-min){
        @include span-columns(9);
        text-align: left;
      }
    }

  }
  .hero-action {
    width: 100%;
    text-align: center;
  }
}