.section {
  padding: rem(80) rem(16) rem(70);
  text-align: center;
  border-top: 2px solid $dark-orange;
  &:first-of-type {
    border-top: 0;
  }

  .section-header {
    * {
      font-size: 3.5rem;
      color: $white;
      text-shadow:
      -2px -2px 0 $dark-orange,
      2px -2px 0 $dark-orange,
      -2px 2px 0 $dark-orange,
      2px 2px 0 $dark-orange;
    }
  }
}