@font-face {
  font-family: 'flappybirdyregular';
  src: url("../fonts/flappybirdy/flappybirdy-webfont.eot");
  src: url("../fonts/flappybirdy/flappybirdy-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/flappybirdy/flappybirdy-webfont.woff2") format("woff2"), url("../fonts/flappybirdy/flappybirdy-webfont.woff") format("woff"), url("../fonts/flappybirdy/flappybirdy-webfont.ttf") format("truetype"), url("../fonts/flappybirdy/flappybirdy-webfont.svg#flappybirdyregular") format("svg");
  font-weight: normal;
  font-style: normal; }
