/** Import Bourbon **/
html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

/** IMPORT FILES SPECIFIC TO THE PROJECT **/
@font-face {
  font-family: "flappybirdyregular";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/flappybirdy/flappy-birdy-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/flappybirdy/flappy-birdy-webfont.woff2") format("woff2"), url("../fonts/flappybirdy/flappy-birdy-webfont.woff") format("woff"), url("../fonts/flappybirdy/flappy-birdy-webfont.ttf") format("truetype"), url("../fonts/flappybirdy/flappy-birdy-webfont.svg#flappybirdyregular") format("svg"); }

/*** Variables related to font sizes ***/
/**** Settings related to media queries ****/
/**** Settings related to the background color ****/
/* Light Green */
/* Greens */
