$em-base: 16px;

/*** Variables related to font sizes ***/
$flappy-font-family: "flappybird", "Open-Sans", sans-serif;
$decorative-font-family: "Bangers", sans-serif;
$base-font-family: "Open-Sans", sans-serif;
$heading-font-family: $flappy-font-family;

$font-weight-normal: 400;
$font-weight-bold: 700;
$font-weight-light: 300;

/**** Settings related to media queries ****/
$extra-small: new-breakpoint(max-width rem(399));
$small: new-breakpoint(min-width rem(768));
$medium: new-breakpoint(min-width rem(960));
$large: new-breakpoint(min-width rem(1200));


/**** Settings related to the background color ****/
$light-orange: #ddd894;
$mid-orange: #fdb606;
$dark-orange: #59363d;

/* Light Green */
$light-blue: #71c5cf;

/* Greens */
$light-green: #e6ff90;
$mid-green: #76c22c;
$dark-green: #50771c;

$black: #000;
$white: #fff;

$primary-color: $black;
$secondary-color: $mid-green;

$red: #f00;





